---
import Carousel from "../components/Caraousel";
import H1 from "../components/H1";
import H2 from "../components/H2";
import H3 from "../components/H3";
import Navigation from "../components/Navigation";
import Section from "../components/Section";
import SideMenu from "../components/SideMenu";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header class="w-full h-fit">
    <Navigation />
  </header>

  <section
    id="hero"
    class="relative z-0 w-full h-[800px] overflow-hidden"
  >
    <img
      src="/property-images/front-entry.png"
      alt="catleya resort"
      class="absolute z-10 bottom-0 right-0 aspect-video object-cover w-full h-auto bg-yellow-100 object-bottom-right"
    />
    <div class="absolute z-20 inset-0 bg-black/40"></div>
    <div class="absolute z-30 top-1/4 left-1/12 w-fit h-fit">
      <H1 classes="!text-6xl text-white"> Catleya Family Resort</H1>
      <H2 classes="!text-4xl text-white !font-normal"
        >Rest, Relax, Dine and Be Ready</H2
      >
      <div>
        <button class="btn btn-lg">
          Call Reservation
          <p>+9425 345 9988</p>
        </button>
      </div>
    </div>
    <!-- <Carousel /> -->
  </section>

  <div
    class="w-[80%] h-fit mb-20 mx-auto flex flex-row items-start justify-between"
  >
    <SideMenu />
    <main class="flex-3 h-fit">
      <Section id="section-1">
        <div class="mb-8">
          <H1>Welcome to Catleya Family Resort</H1>
          <H2>Rest, Relax and Dine</H2>
        </div>
        <div class="w-full h-80 flex flex-row items-start justify-start gap-3">
          <p class="w-1/2 max-w-[80ch]">
            Discover your perfect getaway at Catleya Family Resort, where
            we&apos;ve created a haven for you and your loved ones to unwind.
            Whether you're looking for a peaceful retreat to recharge, an
            exciting family adventure, or a delicious dining experience, you'll
            find it all here. Immerse yourself in our tranquil atmosphere and
            make lasting memories with those who matter most.
          </p>
          <aside class="relative w-1/2 h-full">
            <img
              src="/public/property-images/front-entry-03.png"
              alt="image1"
              class="absolute top-0 right-0 aspect-[4/3] w-[350px] h-auto border-4 border-gray-800 shadow-lg bg-white"
            />
            <img
              src="/public/property-images/building-front.png"
              alt="image2"
              class="absolute top-22 right-20 aspect-[4/3] w-[350px] h-auto border-4 border-gray-800 shadow-lg bg-white"
            />
          </aside>
        </div>
      </Section>

      <Section id="section-2">
        <div class="mb-8">
          <H2>A Quite Place for Your Mind to Get Ready for Your Pilgrimage</H2>
        </div>
        <div class="flex flex-row items-start justify-between gap-4">
          <img
            src="/public/property-images/offering-preparation-area.png"
            alt="image"
            class="aspect-[4/3] object-cover w-1/2 border-4 border-gray-800 bg-white"
          />
          <p class="w-1/2">
            After a long journey, you can rest and prepare your offerings with
            peace of mind. We have setup a place specially for you. You can cook
            just like you would in your kitchen. With large space you wont have
            to consider spilling and low space.
          </p>
        </div>
      </Section>

      <Section id="section-3">
        <div class="mb-8">
          <H2>AC & Non-AC Rooms for your Preference</H2>
        </div>
        <div class="relative w-full h-[600px]">
          <img
            src=""
            alt=""
            srcset=""
            class="absolute top-1/2 left-1/2 translate-x-[60%] translate-y-[10%] aspect-square w-[200px] border-4 border-gray-800 bg-yellow-100 shadow-md"
          />
          <img
            src=""
            alt=""
            srcset=""
            class="absolute top-1/2 left-1/2 -translate-x-[0%] -translate-y-[135%] aspect-video w-[300px] border-4 border-gray-800 bg-green-100 shadow-md"
          />
          <img
            src=""
            alt=""
            srcset=""
            class="absolute top-1/2 left-1/2 -translate-x-[50%] -translate-y-[60%] aspect-video w-[350px] border-4 border-gray-800 bg-orange-100 shadow-md"
          />
          <img
            src=""
            alt=""
            srcset=""
            class="absolute top-1/2 left-1/2 -translate-x-[160%] -translate-y-[80%] aspect-square w-[250px] border-4 border-gray-800 bg-purple-100 shadow-md"
          />
          <img
            src=""
            alt=""
            srcset=""
            class="absolute top-1/2 left-1/2 -translate-x-[90%] translate-y-[50%] aspect-video w-[300px] border-4 border-gray-800 bg-green-100 shadow-md"
          />
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error,
          itaque rem nulla ad explicabo optio consequatur voluptate. Veniam
          impedit voluptate nam reiciendis quam fuga recusandae earum aut.
          Labore, quibusdam exercitationem.
        </p>
      </Section>

      <Section id="section-4">
        <div class="mb-8">
          <H2
            >You can relax and dine with your entire family or group without any
            worries</H2
          >
        </div>
        <div
          class="mb-4 flex-1 flex flex-row items-stretch justify-normal overflow-hidden"
        >
          <img
            src="/public/property-images/dinning-area.png"
            alt=""
            class="flex-1/2 aspect-square object-cover w-1/2 h-auto"
          />
          <img
            src="/public/property-images/dinning-area-tv.png"
            alt=""
            class="flex-1/2 aspect-square object-cover w-1/2 h-auto"
          />
        </div>
        <p class="w-full max-w-[60ch]">
          After relaxing you can have a fun, warm dinner with your close ones
          without any worries. Laugh, love, share, enjoy the evening to the
          fullest with a great meal prepared by our chef.
        </p>
      </Section>

      <Section id="section-5">
        <div class="w-[60ch] mb-8">
          <H2>
            You can reach the Anuradhapura town within 3 minutes. Your wont have
            to hurry anywhere. Because everything is around you.</H2
          >
        </div>
        <div class="w-full flex flex-row items-start justify-between">
          <div class="flex-1 card card-md">
            <div class="card-body">
              <img
                src=""
                alt=""
                class="aspect-[4/3] w-full h-auto border-4 border-gray-800 shadow-md bg-green-200"
              />
              <H3
                classes="card-title"
                }
              >
                Low Crowd, Low Noise
              </H3>
              <p class="">
                We are close to the city, but we are not in the crowded noisy
                town. You have your peace of mind in our calm secluded resort.
              </p>
            </div>
          </div>

          <div class="flex-1 card card-md">
            <div class="card-body">
              <img
                src=""
                alt=""
                class="aspect-[4/3] w-full h-auto border-4 border-gray-800 shadow-md bg-green-200"
              />
              <H3 classes="card-title">Calm Natural Environment</H3>
              <p>
                We know concrete is not nice to look at when you want to relax.
                Thats why you can relax your body and your mind with us. We are
                surrounded by a beautiful natural environment.
              </p>
            </div>
          </div>

          <div class="flex-1 card card-md">
            <div class="card-body">
              <img
                src=""
                alt=""
                class="aspect-[4/3] w-full h-auto border-4 border-gray-800 shadow-md bg-green-200"
              />
              <H3 classes="card-title">Spacious Vehicle Park</H3>
              <p>
                You can safely park your bus, your car, van or your motor bike
                in our park. You can see it when you look outside from your
                window.
              </p>
            </div>
          </div>
        </div>
      </Section>
    </main>
  </div>
  <footer>
    <div></div>
  </footer>
</Layout>
